body {
  background-color: rgb(17, 8, 1);
}
#container {
  background-color: rgb(5, 134, 70);
  border: 5px solid rgb(161, 149, 149);
  height: 275px;
  width: 750px;
  margin: 150px auto;
  text-align: center;
}
#txt {
  color: white;
  font-size: 25px;
}
#outputTxt {
  color: rgb(0, 0, 0);
  font-size: 25px;
}
#userInput {
  width: 200px;
  margin: 25px auto;
  padding: 10px;
}
#btn {
  margin: 25px auto auto 5px;
  width: 4.5rem;
  padding: 10px;
  background-color: rgb(175, 140, 140);
  border-style: none;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
