html {
  background-color: gainsboro;
  height: 100%;
}
#container {
  height: 500px;
  width: 500px;
  margin: 100px auto;
  text-align: center;
  border: 5px solid black;
}
#image {
  height: 500px;
  width: 500px;
}
.btn {
  margin: 10px auto;
  height: 50px;
  width: 150px;
  background-color: burlywood;
  cursor: pointer;
}
